{% block content %}

    <body id="body" class="bg-bg-100 w-5/6 flex-col items-center">
    <div id="content" name="content" class="flex flex-col items-center justify-center w-full gap-10">
        <input type="hidden" id="csrf" value="{{ csrf_token }}">
        <input type="hidden" id="guest" value="{{ guest }}">
        <div class="flex-col gap-5">
            <h1 class="mt-10 text-4xl max-sm:text-3xl text-center font-bold bg-gradient-to-r from-primary-600 to-secondary-400 inline-block text-transparent bg-clip-text">
                Welcome to SafeFace
            </h1>
            <p class="text-center text-lg max-sm:text-md text-gray-600 dark:text-gray-400">
                Create avatars and swap faces with ease
            </p>
        </div>

        <div class="flex gap-3 items-center">
            {% if user.is_authenticated %}
                <a hx-get="/create/" hx-swap="outerHTML" hx-target="#content" hx-include="#csrf, #render_mode"
                   hx-vals='js:{render_mode: "content"}' hx-push-url="/create/"
                   class="bg-primary-500 hover:bg-primary-600 text-white focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-md px-4 py-3 mb-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
                >
                    Create Avatar
                </a>
            {% else %}
                <a hx-get="/create/" hx-swap="outerHTML" hx-target="#content" hx-include="#csrf, #render_mode"
                   hx-vals='js:{render_mode: "content"}' hx-push-url="/create/"
                   class="bg-primary-500 hover:bg-primary-600 text-white focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-md px-4 py-3 mb-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
                >
                    Continue as Guest
                </a>
                <a hx-get="/auth/login/" hx-swap="outerHTML" hx-target="#content" hx-include="#csrf, #next, #render_mode"
                   hx-vals='js:{next: "/create", render_mode: "content"}' hx-push-url="/auth/login"
                   class="bg-primary-500 hover:bg-primary-600 text-white focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-md px-4 py-3 mb-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
                >
                    Login

                </a>
            {% endif %}
        </div>

        <div class="flex flex-col items-center  text-center text-lg text-gray-400 dark:text-gray-400">
            <h2 class="text-2xl font-semibold text-primary-500 dark:text-grey-400">About SafeFace</h2>
            <p class="mt-5 prose max-w-prose text-md font-semibold text-gray-600 dark:text-gray-400 leading-6">SafeFace is
                is designed to let you create and
                use avatars without the risk of harmful deep fakes. Generate and save
                unique characters and swap their faces with any image or video. We allow users to protect their identity online, while becoming anyone they want. Our generation ensures that no
                real faces can be used in face swaps, preventing unethical use.</p>
            <p class="mt-5 font-bold text-primary-600 dark:text-primary-400">Why SafeFace is different:</p>
            <ul class="list-disc list-inside max-w-md text-left text-gray-600 dark:text-gray-400 leading-6">
                <li>Ethical and legal: No real face swaps, only generated characters</li>
                <li>Privacy-focused: Your data is safe and secure</li>
                <li>User-friendly: Easy to create, save, and use avatars</li>
            </ul>
            <p class="mt-8 font-bold pb-44 text-secondary-600 dark:text-secondary-400">Join us in making face swaps fun, safe, and ethical!</p>
        </div>
    </div>
    </body>

    </html>
{% endblock %}