{% extends 'base.html' %}

{% block content %}

<body id="body" class="bg-bg-100 w-5/6 flex-col items-center">
    <div id="content" name="content" class="flex flex-col items-center justify-center w-full gap-10">
        <input type="hidden" id="csrf" value="{{ csrf_token }}">
        <input type="hidden" id="guest" value="{{ guest }}">
        <div class="flex-col gap-4">
            <h1 class="mt-20 text-4xl text-center font-bold text-primary-500 dark:text-primary-400">Welcome to Create Face</h1>
            <p class="text-center text-lg mt-4 text-gray-600 dark:text-gray-400">Create avatars and swap faces with ease</p>
        </div>

        <div class="flex gap-3 items-center">
            <a hx-get="/create" hx-swap="outerHTML" hx-target="#content" hx-include="#csrf, #render-mode" hx-vals='js:{render_mode: "content"}'
                    class="bg-primary-500 hover:bg-primary-600 text-white focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-md px-4 py-3 mb-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
                Continue as Guest
            </a>
            <input type="hidden" id="next" value="/create">
            <a hx-get="/auth/login" hx-swap="outerHTML" hx-target="#content"  hx-include="#csrf, #next" hx-vals='js:{next: "/create"}' hx-push-url="true"
                    class="bg-primary-500 hover:bg-primary-600 text-white focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-md px-4 py-3 mb-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
                Login
            </a>
        </div>

        <!-- Animated GIF -->
        <!-- Use "welcome.gif" as the source for the GIF -->
{#        <img src="https://i.ibb.co/RNB6jpM/welcome.gif" alt="Welcome Cartoon" class="w-3/5 mx-auto">#}
    </div>
</body>

</html>
{% endblock %}