{% extends 'base.html' %}

{% block content %}
<body id="body" class="bg-gray-100">
    <input type="hidden" id="csrf" value="{{ csrf_token }}">
    <input type="hidden" id="guest" value="{{ guest }}">
    <div id="content" class="container mx-auto my-24 p-6 bg-white rounded-lg shadow-lg">
        <!-- Page heading -->
        <h1 class="text-green-500 font-bold text-2xl mb-6">Welcome to SafeFace</h1>

        <div id="guest-button"><button hx-get="/create/" hx-vals='js:{guest: true}' hx-target="#content" hx-swap="outerHTML" hx-push-url="true" class="text-black">
           Continue as Guest 
        </button></div>
        <div id="login-button"><button hx-get="/auth/login/"  hx-target="#content" hx-swap="outerHTML" hx-push-url="true" class="text-black">
            Login
        </button></div>
         
        <!-- Animated GIF -->
        <!-- Use "welcome.gif" as the source for the GIF -->
        <img src="https://i.ibb.co/RNB6jpM/welcome.gif" alt="Welcome Cartoon" class="w-3/5 mx-auto">
    </div>
</body>
</html>
{% endblock %}