{% block content %}
    <div id="content" class="flex flex-col items-center justify-center mt-4 pb-24">
        <h1 class="text-3xl font-bold text-center dark:text-white mb-2 max-sm:text-xl">Swap Face</h1>

        <div class="flex flex-col max-w-full bg-bg-100 dark:bg-bg-900 shadow-lg rounded-lg max-sm:flex-col p-8 pb-14 pt-16 gap-4 max-sm:p-5 max-md:gap-2">
            <div class="flex flex-row items-center w-full max-w-full justify-between gap-5">
                <div name="avatar" id="avatar" class="relative text-center flex flex-col justify-center items-center">
                    <p class="absolute -top-12 left-1/2 transform -translate-x-1/2 text-lg font-semibold dark:text-white">
                        Source</p>
                    <img src="{{ image_data }}" alt="avatar" class="w-40 h-40 rounded-2xl shadow-lg"/>
                </div>

                <p class="text-black dark:text-white text-opacity-50 text-3xl">+</p>

                <div id="uploaded_file_container"
                     class="relative text-center flex flex-col items-center justify-center">
                    <p class="absolute -top-12 left-1/2 transform -translate-x-1/2 text-lg font-semibold dark:text-white">
                        Target
                    </p>
                    <button id="choose_file_button"
                            class="flex flex-col items-center gap-4 justify-center w-40 h-40 bg-transparent border-2 border-dashed border-black dark:border-bg-300 border-opacity-50 text-black dark:text-white p-2 cursor-pointer rounded-lg px-4 whitespace-nowrap"
                            onclick="document.getElementById('hiddenFileInput').click()">
                        <p class="font-medium text-md text-opacity-50">Choose Image/Video</p>
                    </button>
                </div>
                <input type="file" id="hiddenFileInput" style="display: none;" onchange="handleFileChange(event)">

                <p class="text-black dark:text-white text-opacity-50 text-3xl">=</p>

                <div class="relative text-center flex flex-col justify-center items-center">
                    {% if image_id %}
                        <input type="hidden" name="image_id" id="image_id" value="{{ image_id }}"> {% endif %}
                    {% if image_data %}
                        <input type="hidden" name="image_data" id="image_data" value="{{ image_data }}">
                    {% endif %}
                    <button onclick="submitForm()"
                            class="absolute -top-14 left-1/2 transform -translate-x-1/2 whitespace-nowrap px-4 py-2 bg-gradient-to-r from-primary-500 to-primary-700 text-bg-50 font-semibold rounded-lg shadow-md hover:from-primary-600 hover:to-primary-800 transition duration-300 ease-in-out">
                        {% if output_image_data %}
                            Swap Again
                        {% else %}
                            Swap Face
                        {% endif %}
                    </button>
                    <div id="result_container" class="flex flex-col items-center justify-center">
                        <div name="result_image"
                             class="flex flex-col overflow-hidden items-center justify-center w-40 h-40 border-2 border-dashed border-black dark:border-white text-black dark:text-white cursor-pointer rounded-lg px-4 whitespace-nowrap">
                            <p class="font-medium text-md text-opacity-50">
                                Result
                            </p>
                        </div>
                    </div>

                    <div id="loading_indicator" style="display:none;">
                        <div class="bouncing-ball-loader"
                             style="display: flex; justify-content: center; align-items: center; height: 40px;">
                            <div class="ball"
                                 style="width: 10px; height: 10px; border-radius: 50%; background-color: #fff; margin: 0 10px; animation: bounce 0.5s infinite;">
                            </div>
                            <div class="ball"
                                 style="width: 10px; height: 10px; border-radius: 50%; background-color: #fff; margin: 0 10px; animation: bounce 0.5s infinite;">
                            </div>
                            <div class="ball"
                                 style="width: 10px; height: 10px; border-radius: 50%; background-color: #fff; margin: 0 10px; animation: bounce 0.5s infinite;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button hx-get="/create/" hx-target="#content" hx-swap="outerHTML" hx-include="#render_mode"
                hx-vals='js:{render_mode: "content"}' hx-push-url="true"
                class="mt-5 px-6 py-3 bg-gradient-to-r from-primary-500 to-primary-700 text-bg-50 font-semibold rounded-lg shadow-md hover:from-primary-600 hover:to-primary-800 transform transition duration-300 ease-in-out">
            Back
        </button>
    </div>

    <script>
        document.querySelectorAll('.ball').forEach((ball, index) => {
            ball.style.animation = `bounce ${0.5 + (index * 0.1)}s infinite`;
        });

        function getComputedStyle(element) {
            return window.getComputedStyle(element);
        }

        function getAnimationCSS() {
            return `
                @keyframes bounce {
                  0% {
                    transform: translateY(0);
                  }
                  50% {
                    transform: translateY(-10px);
                  }
                  100% {
                    transform: translateY(0);
                  }
                }
            `;
        }

        function addStyle(tagName) {
            const element = document.createElement(tagName);
            element.innerHTML = getAnimationCSS();
            document.head.appendChild(element);
        }

        addStyle('style');

        function handleFileChange(event) {
            const selectedFile = event.target.files[0];
            if (selectedFile) {
                if (selectedFile.type.startsWith('video/')) {
                    displayVideoPreview(selectedFile);
                } else {
                    displayImagePreview(selectedFile);
                }
            }
        }

        function displayImagePreview(file) {
            getBase64(file).then(base64File => {
                const uploadedImageContainer = document.getElementById('uploaded_file_container');
                uploadedImageContainer.innerHTML = `
                    <p class="absolute -top-12 left-1/2 transform -translate-x-1/2 text-lg font-semibold dark:text-white">Target</p>
                    <img src="${base64File}" alt="uploaded image" class="w-40 rounded-2xl aspect-auto place-content-center justify-center align-center" />
                    <button id="choose_new_file_button" class="absolute -bottom-12 left-1/2 transform -translate-x-1/2 bg-bg-100 dark:bg-bg-900 text-black dark:text-white p-2 cursor-pointer flex items-center rounded-lg px-4 whitespace-nowrap mt-4" onclick="document.getElementById('hiddenFileInput').click()">
                        <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24" height="24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
                        </svg>
                        Choose New File
                    </button>
                `;
            });
        }

        function displayVideoPreview(file) {
            const uploadedImageContainer = document.getElementById('uploaded_file_container');
            const url = URL.createObjectURL(file);
            uploadedImageContainer.innerHTML = `
                <p class="absolute -top-12 left-1/2 transform -translate-x-1/2 text-lg font-semibold dark:text-white">Target</p>
                <video src="${url}" controls class="w-40 rounded-2xl aspect-auto place-content-center justify-center align-center"></video>
                <button id="choose_new_file_button" class="absolute -bottom-12 left-1/2 transform -translate-x-1/2 bg-bg-100 dark:bg-bg-900 text-black dark:text-white p-2 cursor-pointer flex items-center rounded-lg px-4 whitespace-nowrap mt-4" onclick="document.getElementById('hiddenFileInput').click()">
                    <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24" height="24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
                    </svg>
                    Choose New File
                </button>
            `;
        }

        function getBase64(file) {
            return new Promise((resolve, reject) => {
                const reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = () => resolve(reader.result);
                reader.onerror = error => reject(error);
            });
        }

        function initializeToast() {
            const toastElement = document.getElementById("toast");
            const toastBody = document.getElementById("toast-body");

            if (!toastElement || !toastBody) {
                console.error("Toast elements not found in the DOM");
                return;
            }

            function showToast(message, duration = 3000) {
                toastBody.textContent = message;
                toastElement.classList.remove('hidden');
                setTimeout(() => {
                    toastElement.classList.remove('opacity-0');
                }, 10);
                setTimeout(() => {
                    hideToast();
                }, duration);
            }

            function hideToast() {
                toastElement.classList.add('opacity-0');
                setTimeout(() => {
                    toastElement.classList.add('hidden');
                }, 300);
            }

            // Make showToast available globally
            window.showToast = showToast;
        }

        // Call this function when the DOM is ready
        document.addEventListener('DOMContentLoaded', initializeToast);


        async function submitForm() {
            const processingToast = window.showToast('Processing face swap...', 'info', -1);
            const formData = new FormData();
            const fileInput = document.getElementById('hiddenFileInput');
            const imageIdElement = document.getElementById('image_id');
            const imageDataElement = document.getElementById('image_data');

            if (fileInput && fileInput.files.length > 0) {
                const file = fileInput.files[0];
                if (file.type.startsWith('video/')) {
                    formData.append('uploaded_video', file);
                } else {
                    const base64File = await getBase64(file);
                    formData.append('uploaded_file', base64File);
                }
                document.getElementById('loading_indicator').style.display = 'block';
            }

            if (imageIdElement) {
                formData.append('image_id', imageIdElement.value);
            }

            if (imageDataElement) {
                formData.append('image_path', imageDataElement.value);
            }

            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

            fetch('/swap_face/', {
                method: 'POST',
                body: formData,
            })
                .then(response => response.json())
                .then(data => {
                    if (processingToast && processingToast.parentNode) {
                        processingToast.parentNode.removeChild(processingToast);
                    }

                    document.getElementById('loading_indicator').style.display = 'none';
                    if (data.error) {
                        console.error('Error:', data.error);
                        window.showToast('Face Swap Failed: ' + data.error, 'error');
                    } else {
                        showToast('Face Swap Success!', 'success');
                        const resultContainer = document.getElementById('result_container');
                        if (data.output_video_data) {
                            resultContainer.innerHTML = `
                                <div name="result_media" class="flex flex-col overflow-hidden items-center justify-center">
                                    <video src="${data.output_video_data}" controls class="w-40 rounded-2xl shadow-lg aspect-auto"></video>
                                </div>
                                <a href="${data.output_video_data}" download="safeface_video_swap.mp4" class="mt-4 bg-primary-600 rounded-full px-4 py-2 text-white justify-center">Download Video</a>
                            `;
                        } else {
                            resultContainer.innerHTML = `
                                <div name="result_media" class="flex flex-col overflow-hidden items-center justify-center">
                                    <img src="${data.output_image_data}" alt="result" class="w-40 rounded-2xl shadow-lg aspect-auto" />
                                </div>
                                <a href="data:image/png;base64,${data.output_image_data.split('base64,')[1]}" download="safeface_image_swap.png" class="mt-4 bg-primary-600 rounded-full px-4 py-2 text-white justify-center">Download Image</a>
                            `;
                        }
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    showToast('An unexpected error occurred', 'error');
                });
        }

    </script>

{% endblock %}