{% block content %}
<div class="flex flex-col items-center">

    <h1 class="text-3xl font-bold mb-6 text-center dark:text-white">Face Swap</h1>

    <div name="avatar" id="avatar" class="text-center flex flex-col justify-center items-center">
        <p class="text-lg font-semibold mb-4 dark:text-white">Avatar</p>
        <img src="{{ image_path }}" alt="avatar" class="mx-auto max-w-xs rounded-2xl shadow-lg" />
    </div>

    <div class="flex items-center rounded-lg mt-4">
        <button class="bg-bg-200 dark:bg-bg-900 text-white p-2 cursor-pointer flex items-center rounded-l-lg px-4 whitespace-nowrap" onclick="document.getElementById('hiddenFileInput').click()">
            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24" height="24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
            </svg>
            Choose File
        </button>
        <input type="text" id="fileName" class="flex-grow p-2 border border-gray-300 rounded-r-lg" placeholder="no file selected" readonly>
        <input type="file" id="hiddenFileInput" style="display: none;" onchange="handleFileChange(event)">
    </div>
</div>

<script>
    function handleFileChange(event) {
        const selectedFile = event.target.files[0];
        if (selectedFile) {
            document.getElementById('fileName').value = selectedFile.name;
        }
    }
</script>

{% endblock %}