{% block content %}
{% if generate_method == "pipeline" %}
<button hx-post="/create/" hx-swap="outerHTML" hx-indicator="#ball" hx-include="#csrf"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    hx-vals='js:{generate_method: getPipeline(), gender: getGender(), hair_color: getHairColor(), hair_type: getHairType(), hair_length: getHairLength(), skin_color: getSkinColor(), skin_type: getSkinType(), eye_color: getEyeColor(),  age: getAge(), ethnicity: getEthnicity()}'
    class="bg-white border text-blue-700 py-2 px-4 rounded hover:bg-blue-700 hover:text-white transition duration-300">
    Regenerate
</button>
{% elif generate_method == "hugging_face" %}
<button hx-post="/create/" hx-swap="outerHTML" hx-indicator="#ball" hx-include="#csrf"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    hx-vals='js:{generate_method: getHuggingface(), gender: getGender(), hair_color: getHairColor(), hair_type: getHairType(), hair_length: getHairLength(), skin_color: getSkinColor(), skin_type: getSkinType(), eye_color: getEyeColor(), age: getAge(), ethnicity: getEthnicity()}'
    class="bg-blue-700 border text-white py-2 px-4 rounded hover:bg-white hover:text-blue-700 transition duration-300">
    Regenerate with Hugging Face
</button>
{% endif %}
<div name="avatar" id="avatar" hx-swap="outerHTML" hx-swap-oob="true" class="text-center">
    <p class="text-lg font-semibold dark:text-white">Click To Continue</p>
    <div  hx-post="/swap_face/" hx-include="#image_path, #render_mode"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            hx-vals="js:{render_mode: 'content', image_path: document.getElementById('image_data').value}"
            hx-swap="outerHTML" hx-target="#content" hx-push-url="true"  class="relative inline-block hover:scale-105 transform transition duration-500" >
        <input type="hidden" id="image_data" name="image_data" value="{{ image_path }}">
        <img src="{{ image_path }}" alt="avatar"
            class=" mx-auto max-w-xs rounded-lg shadow-lg h-52 w-52"
            id="avatar_image" />
        <img id="ball" class="htmx-indicator absolute right-0 top-1/2 transform -translate-y-1/2"
            src="../static/images/bouncing-ball.svg" alt="Loading..." />
    </div>
    <div class="flex flex-col items-center justify-eenter w-full">
        <input type="hidden" name="image_data" id="image_data" value="{{ image_path }}">
    </div>
</div>
<script>

</script>

{% endblock %}