{% extends 'base.html' %}

{% block content %}
<div class="flex flex-col items-center justify-center w-full mt-5">
    <h1 class="text-3xl font-bold mb-6 text-center">Create an Avatar</h1>
  
    <div id="create_form" class="bg-white shadow-lg rounded-lg p-6 flex-col items-center">
        <div id="attributes" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 gap-x-6 mb-6 w-full">
            {% for field in form_fields %}
                <div class="form-group relative">
                    <label for="{{ field.id }}" class="block mb-2 text-sm font-medium text-gray-700 dark:text-white">{{ field.label }}</label>
                    <select id="{{ field.id }}" class="appearance-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 w-full px-3 py-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                        <option disabled selected>{{ field.placeholder }}</option>
                        {% for option in field.options %}
                            <option>{{ option }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endfor %}
        </div>

        <div id="generate_button" class="flex items-center justify-center space-x-4 w-full mt-10">
            <button hx-post="/create/" hx-swap="outerHTML" hx-indicator="#ball" hx-vals='js:{generate_method: getPipeline(), gender: getGender(), hair_color: getHairColor(), hair_type: getHairType(), hair_length: getHairLength(), skin_color: getSkinColor(), skin_type: getSkinType(), eye_color: getEyeColor(), body: getBody(), age: getAge(), ethnicity: getEthnicity()}' class="text-white bg-primary-500 hover:bg-primary-600 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-md px-8 py-4 me-2 mb-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
                Generate Avatar
            </button>
            <button hx-post="/create/" hx-swap="outerHTML" hx-indicator="#ball" hx-vals='js:{generate_method: getHuggingface(), gender: getGender(), hair_color: getHairColor(), hair_type: getHairType(), hair_length: getHairLength(), skin_color: getSkinColor(), skin_type: getSkinType(), eye_color: getEyeColor(), body: getBody(), age: getAge(), ethnicity: getEthnicity()}' class="text-white bg-primary-500 hover:bg-primary-600 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-md px-8 py-4 me-2 mb-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
                Generate Avatar with Hugging Face
            </button>
        </div>
        <div id="generate_button" class="flex h-10 items-center justify-center w-full">
            <img id="ball" class="htmx-indicator content-center max-w-24" src="static/images/bouncing-ball.svg" alt="Loading..."/>
        </div>
    </div>

    <div id="avatar" class="text-center flex flex-col justify-center items-center mt-6">
        <p class="text-lg font-semibold mb-4">No Avatar Created</p>
        <img src="/static/images/empty_profile.png" alt="avatar" class="mx-auto max-h-96 rounded-lg shadow-lg"/>
    </div>
</div>

<script>
  function getPipeline() {
    return "pipeline";
  }

  function getHuggingface() {
    return "hugging_face";
  }

  function getGender() {
    return getValueById("gender");
  }

  function getHairColor() {
    return getValueById("hair_color");
  }

  function getHairType() {
    return getValueById("hair_type");
  }

  function getHairLength() {
    return getValueById("hair_length");
  }

  function getSkinColor() {
    return getValueById("skin_color");
  }

  function getSkinType() {
    return getValueById("skin_type");
  }

  function getEthnicity() {
    return getValueById("ethnicity");
  }

  function getEyeColor() {
    return getValueById("eye_color");
  }

  function getAge() {
    return getValueById("age");
  }

  function getBody() {
    return getValueById("body");
  }

  function getValueById(id) {
    const element = document.getElementById(id);
    return element.value !== element.options[0].value ? element.value : "";
  }
</script>
{% endblock %}
