{% block form %}
<div name="create_form" id="create_form"
  class="flex max-w-full bg-bg-100 dark:bg-bg-900 shadow-lg rounded-lg flex-col items-center p-4 gap-5 max-md:gap-2">
  <input type="hidden" id="mode" value="{{ mode }}" />
  <input type="hidden" id="change_mode" value="false" />
  <div id="mode-toggle" class="flex items-center gap-2 my-1 bg-bg-800 rounded-xl relative">
    <div id="slider" class="absolute top-0 left-0 w-1/2 h-full bg-bg-50 rounded-xl transition-transform duration-500 {% if mode == "gallery_mode" %}transform translate-x-full{% endif %}"></div>
    <div id="create_mode" hx-target="#create_form" hx-get="/create/" hx-swap="outerHTML"
      hx-vals='js:{mode: "create_mode", change_mode: "true", render_mode:"content"}'
      hx-include="#mode, #change_mode, #render_mode"
      class="flex items-center gap-2 w-1/2 z-10 text-center cursor-pointer p-2 transition-transform duration-500 {% if mode == "create_mode" %}text-gray-800{% else %}text-gray-400{% endif %}">
      <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 16C9.85038 16.6303 10.8846 17 12 17C13.1154 17 14.1496 16.6303 15 16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
        <ellipse cx="15" cy="10.5" rx="1" ry="1.5" fill="currentColor"></ellipse>
        <ellipse cx="9" cy="10.5" rx="1" ry="1.5" fill="currentColor"></ellipse>
        <path d="M22 14C22 17.7712 22 19.6569 20.8284 20.8284C19.6569 22 17.7712 22 14 22" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
        <path d="M10 22C6.22876 22 4.34315 22 3.17157 20.8284C2 19.6569 2 17.7712 2 14" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
        <path d="M10 2C6.22876 2 4.34315 2 3.17157 3.17157C2 4.34315 2 6.22876 2 10" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
        <path d="M14 2C17.7712 2 19.6569 2 20.8284 3.17157C22 4.34315 22 6.22876 22 10" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
      </svg>
      <p class="text-sm">Create</p>
    </div>
    <div id="gallery_mode" hx-target="#create_form" hx-get="/create/" hx-swap="outerHTML"
      hx-vals='js:{mode: "gallery_mode", change_mode: "true", render_mode:"content"}'
      hx-include="#mode, #change_mode, #render_mode"
      class="flex items-center gap-2 w-1/2 z-10 text-center cursor-pointer p-2 transition-transform duration-500 {% if mode == "gallery_mode" %}text-gray-800{% else %}text-gray-400{% endif %}">
      <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M22 13.4375C22 17.2087 22 19.0944 20.8284 20.2659C19.6569 21.4375 17.7712 21.4375 14 21.4375H10C6.22876 21.4375 4.34315 21.4375 3.17157 20.2659C2 19.0944 2 17.2087 2 13.4375C2 9.66626 2 7.78065 3.17157 6.60907C4.34315 5.4375 6.22876 5.4375 10 5.4375H14C17.7712 5.4375 19.6569 5.4375 20.8284 6.60907C21.4921 7.27271 21.7798 8.16545 21.9045 9.50024" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
        <path d="M3.98779 6C4.10022 5.06898 4.33494 4.42559 4.82498 3.93726C5.76553 3 7.27932 3 10.3069 3H13.5181C16.5457 3 18.0595 3 19 3.93726C19.4901 4.42559 19.7248 5.06898 19.8372 6" stroke="currentColor" stroke-width="1.5"></path>
        <circle cx="17.5" cy="9.9375" r="1.5" stroke="currentColor" stroke-width="1.5"></circle>
        <path d="M2 13.9376L3.75159 12.405C4.66286 11.6077 6.03628 11.6534 6.89249 12.5096L11.1822 16.7993C11.8694 17.4866 12.9512 17.5803 13.7464 17.0214L14.0446 16.8119C15.1888 16.0077 16.7369 16.1009 17.7765 17.0365L21 19.9376" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
      </svg>
      <p class="text-sm">Gallery</p>
    </div>
  </div>

  {% if mode == "create_mode" %}
      <div class="flex max-md:flex-col items-center justify-center gap-10 py-4 px-2 mb-4">
          <div class="flex flex-col items-center justify-center w-full gap-4">
            <p class="text-lg font-medium dark:text-white mt-1 text-left w-full">Select Avatar Attributes</p>
            <div id="attributes" class="text-center grid grid-cols-3 md:grid-cols-3 lg:grid-cols-3 w-full gap-4 gap-x-4">
                {% for field in form_fields %}
                    <div class="form-group relative rounded-xl">
                      <label for="{{ field.id }}" class="text-left md:text-center block text-sm text-black dark:text-white">
                        {{ field.label }}
                      </label>
                      <select id="{{ field.id }}"
                        class="text-center appearance-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 w-full px-3  dark:bg-bg-700 dark:border-gray-500 dark:placeholder-gray-100 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                        <option disabled selected></option>
                        {% for option in field.options %}
                        <option>{{ option }}</option>
                        {% endfor %}
                      </select>
                    </div>
                {% endfor %}
            </div>
          </div>
            <div class="border-r-2 border-bg-400 dark:border-bg-700 h-40"></div>
          <div id="avatar" class="text-center flex flex-col justify-center items-center max-w-50">
            <div class="flex items-center justify-center w-full">
              <div class="relative">
                <img src="../static/images/empty_profile.png" alt="Empty Avatar" class="mx-auto rounded-2xl shadow-xl" />
                <img id="ball" class="htmx-indicator absolute right-0 top-1/2 transform -translate-y-1/2"
                  src="../static/images/bouncing-ball.svg" alt="Loading..." />
              </div>
            </div>
          </div>
      </div>

  <div id="generate_button" class="flex flex-col md:flex-row items-center justify-center gap-4 bg-primary-500 dark:bg-primary-600 rounded-full">
    <button hx-post="/create/" hx-swap="outerHTML" hx-indicator="#ball"
      hx-vals='js:{generate_method: getPipeline(), gender: getGender(), hair_color: getHairColor(), hair_type: getHairType(), hair_length: getHairLength(), skin_color: getSkinColor(), skin_type: getSkinType(), eye_color: getEyeColor(), age: getAge(), ethnicity: getEthnicity()}'
      class="cursor-pointer text-white bg-primary-500 hover:bg-primary-700 font-medium rounded-full text-md px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700">
      Generate Avatar
    </button>
    <button hx-post="" hx-swap="outerHTML" hx-indicator="#ball"
      hx-vals='js:{generate_method: getHuggingface(), gender: getGender(), hair_color: getHairColor(), hair_type: getHairType(), hair_length: getHairLength(), skin_color: getSkinColor(), skin_type: getSkinType(), eye_color: getEyeColor(), age: getAge(), ethnicity: getEthnicity()}'
      class="cursor-pointer text-white bg-primary-500 hover:bg-primary-700 font-medium rounded-full text-md px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700">
      Generate with Hugging Face
    </button>
    {% if user.is_authenticated %}

    <button id="save_image_button" hx-target="#generate_button"
      class="gap-2 flex flex-row cursor-pointer text-white bg-primary-500 hover:bg-primary-700 font-medium rounded-full text-md px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700">
      Save Image
      <svg width="24px" height="24px" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M18.1716 1C18.702 1 19.2107 1.21071 19.5858 1.58579L22.4142 4.41421C22.7893 4.78929 23 5.29799 23 5.82843V20C23 21.6569 21.6569 23 20 23H4C2.34315 23 1 21.6569 1 20V4C1 2.34315 2.34315 1 4 1H18.1716ZM4 3C3.44772 3 3 3.44772 3 4V20C3 20.5523 3.44772 21 4 21L5 21L5 15C5 13.3431 6.34315 12 8 12L16 12C17.6569 12 19 13.3431 19 15V21H20C20.5523 21 21 20.5523 21 20V6.82843C21 6.29799 20.7893 5.78929 20.4142 5.41421L18.5858 3.58579C18.2107 3.21071 17.702 3 17.1716 3H17V5C17 6.65685 15.6569 8 14 8H10C8.34315 8 7 6.65685 7 5V3H4ZM17 21V15C17 14.4477 16.5523 14 16 14L8 14C7.44772 14 7 14.4477 7 15L7 21L17 21ZM9 3H15V5C15 5.55228 14.5523 6 14 6H10C9.44772 6 9 5.55228 9 5V3Z" fill="currentColor"></path>
        </g>
      </svg>
    </button>
    {% else %}
    <button hx-get="/auth/login/" hx-params="none" hx-swap="none"
      class="cursor-pointer text-white bg-primary-500 hover:bg-primary-700 font-medium rounded-full text-md px-4 py-3 dark:bg-primary-600 dark:hover:bg-primary-700">
      Login to Save Avatar
    </button>
    {% endif %}
  </div>
  {% endif %}


  {% if mode == "gallery_mode" %}
      <div id="gallery" class="mt-5 flex flex-col items-center justify-center w-full gap-4 p-2">
        <div id="avatar_gallery" class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
          {% for image in images %}
          <div name="image_{{ image.id }}" id="image_{{ image.id }}"
            class="relative w-full max-w-xs flex items-center justify-center">
            <div class="relative inline-block hover:scale-105 transform transition duration-500">
              <div class="swap-face-button" data-image-id="{{ image.id }}" data-image-path="{{ image.image }}">
                <img src="data:image/png;base64,{{ image.image }}" alt="Avatar"
                  class="rounded-xl shadow-lg w-40 h-40 max-sm:w-30 max-sm:h-30 object-cover" />
              </div>
              <div hx-post="/create/delete/{{image.id}}/" hx-target="#image_{{ image.id }}" hx-swap="outerHTML"
                class="border-2 bg-white hover:scale-110 transform transition duration-500 rounded-full absolute w-8 h-8 -top-4 -right-4 flex items-center justify-center">
                <svg width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M10 12L14 16M14 12L10 16M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6M18 6V16.2C18 17.8802 18 18.7202 17.673 19.362C17.3854 19.9265 16.9265 20.3854 16.362 20.673C15.7202 21 14.8802 21 13.2 21H10.8C9.11984 21 8.27976 21 7.63803 20.673C7.07354 20.3854 6.6146 19.9265 6.32698 19.362C6 18.7202 6 17.8802 6 16.2V6" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
  {% endif %}

</div>



<script>
  function getPipeline() {
    return "pipeline";
  }

  function getHuggingface() {
    return "hugging_face";
  }

  function getGender() {
    return getValueById("gender");
  }

  function getHairColor() {
    return getValueById("hair_color");
  }

  function getHairType() {
    return getValueById("hair_type");
  }

  function getHairLength() {
    return getValueById("hair_length");
  }

  function getSkinColor() {
    return getValueById("skin_color");
  }

  function getSkinType() {
    return getValueById("skin_type");
  }

  function getEthnicity() {
    return getValueById("ethnicity");
  }

  function getEyeColor() {
    return getValueById("eye_color");
  }

  function getAge() {
    return getValueById("age");
  }

  function getBodyType() {
    return getValueById("body_type");
  }

  function getValueById(id) {
    const element = document.getElementById(id);
    return element.value !== element.options[0].value ? element.value : "";
  }

  function attachImageClickListeners() {
    const images = document.querySelectorAll('.swap-face-button');
    images.forEach(function (image) {
      image.addEventListener('click', function () {
        const imageId = this.getAttribute('data-image-id');
        const imagePath = this.getAttribute('data-image-path');

        // Create a form to submit the data
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = '/swap_face/';

        // Create hidden input to hold the image ID or data
        if (imageId.startsWith('default-')) {
          const inputPath = document.createElement('input');
          inputPath.type = 'hidden';
          inputPath.name = 'image_path';
          inputPath.value = `data:image/jpeg;base64,${imagePath}`;
          form.appendChild(inputPath);
        } else {
          const inputId = document.createElement('input');
          inputId.type = 'hidden';
          inputId.name = 'image_id';
          inputId.value = imageId;
          form.appendChild(inputId);
        }

        // Add the CSRF token to the form
        const csrfToken = document.createElement('input');
        csrfToken.type = 'hidden';
        csrfToken.name = 'csrfmiddlewaretoken';
        csrfToken.value = '{{ csrf_token }}';

        form.appendChild(csrfToken);

        document.body.appendChild(form);
        form.submit();
      });
    });
  }

  // Attach click listeners to the images after swapping the form
  document.body.addEventListener('htmx:afterSwap', function (evt) {
    if (evt.detail.target.id === 'create_form') {
      attachImageClickListeners();
    }
  });

  document.getElementById('save_image_button').addEventListener('click', function () {
    const imagePath = document.getElementById('image_data').value;

    // Create a form to submit the data
    const form = document.createElement('form');
    form.method = 'POST';
    form.action = '/create/save_image/';

    // Create hidden input to hold the image data
    const input = document.createElement('input');
    input.type = 'hidden';
    input.name = 'image_data';
    input.value = imagePath;

    form.appendChild(input);

    // Add the CSRF token to the form
    const csrfToken = document.createElement('input');
    csrfToken.type = 'hidden';
    csrfToken.name = 'csrfmiddlewaretoken';
    csrfToken.value = '{{ csrf_token }}';

    form.appendChild(csrfToken);

    document.body.appendChild(form);
    form.submit();
  });
</script>
{% endblock %}