{% extends 'base.html' %}

{% block content %}
<div id="content" class="content flex flex-col items-center justify-center min-h-screen">
  <h1 class="text-3xl font-bold mb-6 text-center">Create an Avatar</h1>
  {% include "create_form.html" %} 
  <div id="avatar" class="text-center flex flex-col justify-center items-center mb-6">
    <img src="../static/images/empty_profile.png" alt="Empty Avatar" class="mx-auto max-h-96 rounded-full shadow-xl" />
  </div>
  <div id="generate_button" class="flex flex-row items-center justify-center w-full gap-4">
    <button hx-post="/create/" hx-swap="outerHTML" hx-indicator="#ball"
      hx-vals='js:{generate_method: getPipeline(), gender: getGender(), hair_color: getHairColor(), hair_type: getHairType(), hair_length: getHairLength(), skin_color: getSkinColor(), skin_type: getSkinType(), eye_color: getEyeColor(), body: getBody(), age: getAge(), ethnicity: getEthnicity()}'
      class="text-white bg-primary-500 hover:bg-primary-600 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-md px-4 py-2 mb-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
      Generate Avatar
    </button>
    <button hx-post="/create/" hx-swap="outerHTML" hx-indicator="#ball"
      hx-vals='js:{generate_method: getHuggingface(), gender: getGender(), hair_color: getHairColor(), hair_type: getHairType(), hair_length: getHairLength(), skin_color: getSkinColor(), skin_type: getSkinType(), eye_color: getEyeColor(), body: getBody(), age: getAge(), ethnicity: getEthnicity()}'
      class="text-white bg-primary-500 hover:bg-primary-600 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-md px-4 py-2 mb-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
      Generate Avatar with Hugging Face
    </button>
    {% if user.is_authenticated and guest == "false" %}
    <button hx-get="/save/" hx-swap="outerHTML" hx-indicator="#ball"
      class="flex items-center justify-center text-white bg-primary-500 hover:bg-primary-600 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-md px-4 py-2 mb-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
      Save Avatar
      <img id="save" class="ms-2 h-6 w-6" src="../static/images/save-icon.svg" alt="Save..." />
    </button>
    {% else %}
    <button hx-get="/auth/login/" hx-params="none" hx-swap="outerHTML" hx-target="#content"
      class="flex items-center justify-center text-white bg-gray-700 hover:bg-gray-400 focus:ring-4 focus:ring-gray-50 font-medium rounded-lg text-md px-4 py-2 mb-2">
      Login to Save Avatar
    </button>
    {% endif %}
  </div>

  <div class="flex h-24 items-center justify-center w-full">
    <img id="ball" class="htmx-indicator content-center h-24 w-24" src="../static/images/bouncing-ball.svg"
      alt="Loading..." />
  </div>

</div>

<script>
  function getImagePath() {
    var image = document.getElementById("image_path");
    console.log(image.value)
    console.log("{{ image_path }}")
    return "{{ image_path }}";
  }
  function getPipeline() {
    return "pipeline";
  }

  function getHuggingface() {
    return "hugging_face";
  }

  function getGender() {
    return getValueById("gender");
  }

  function getHairColor() {
    return getValueById("hair_color");
  }

  function getHairType() {
    return getValueById("hair_type");
  }

  function getHairLength() {
    return getValueById("hair_length");
  }

  function getSkinColor() {
    return getValueById("skin_color");
  }

  function getSkinType() {
    return getValueById("skin_type");
  }

  function getEthnicity() {
    return getValueById("ethnicity");
  }

  function getEyeColor() {
    return getValueById("eye_color");
  }

  function getAge() {
    return getValueById("age");
  }

  function getBody() {
    return getValueById("body");
  }

  function getValueById(id) {
    const element = document.getElementById(id);
    return element.value !== element.options[0].value ? element.value : "";
  }
</script>
{% endblock %}