{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto p-4">
  <h1 class="text-3xl font-bold mb-6 text-center">Create an Avatar</h1>
  
  <div id="create_form">
  <div id="attributes" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mb-6">
    <div class="form-group">
      <label for="gender" class="block text-sm font-medium text-gray-700 mb-1">Gender</label>
      <select id="gender" class="select select-bordered w-full max-w-xs">
        <option disabled selected>Select Gender</option>
        <option>Male</option>
        <option>Female</option>
        <option>Ugly</option>
      </select>
    </div>

    <div class="form-group">
      <label for="hair_color" class="block text-sm font-medium text-gray-700 mb-1">Hair Color</label>
      <select id="hair_color" class="select select-bordered w-full max-w-xs">
        <option disabled selected>Select Hair Color</option>
        <option>Brown Hair</option>
        <option>Ginger Hair</option>
        <option>Blonde Hair</option>
        <option>Black Hair</option>
        <option>White Hair</option>
        <option>Purple Hair</option>
      </select>
    </div>

    <div class="form-group">
      <label for="hair_type" class="block text-sm font-medium text-gray-700 mb-1">Hair Type</label>
      <select id="hair_type" class="select select-bordered w-full max-w-xs">
        <option disabled selected>Select Hair Type</option>
        <option>Curly Hair</option>
        <option>Straight Hair</option>
        <option>Messy Hair</option>
        <option>Wavy Hair</option>
      </select>
    </div>

    <div class="form-group">
      <label for="hair_length" class="block text-sm font-medium text-gray-700 mb-1">Hair Length</label>
      <select id="hair_length" class="select select-bordered w-full max-w-xs">
        <option disabled selected>Select Hair Length</option>
        <option>Very Short Hair</option>
        <option>Short Hair</option>
        <option>Medium Hair</option>
        <option>Long Hair</option>
        <option>Very Long Hair</option>
      </select>
    </div>

    <div class="form-group">
      <label for="skin_color" class="block text-sm font-medium text-gray-700 mb-1">Skin Color</label>
      <select id="skin_color" class="select select-bordered w-full max-w-xs">
        <option disabled selected>Select Skin Color</option>
        <option>White Skin</option>
        <option>Pale Skin</option>
        <option>Tan Skin</option>
        <option>Dark Skin</option>
        <option>Very Dark Skin</option>
      </select>
    </div>

    <div class="form-group">
      <label for="skin_type" class="block text-sm font-medium text-gray-700 mb-1">Skin Type</label>
      <select id="skin_type" class="select select-bordered w-full max-w-xs">
        <option disabled selected>Select Skin Type</option>
        <option>Freckled Skin</option>
        <option>Clear Skin</option>
        <option>Pimple Skin</option>
        <option>See-Through Skin</option>
      </select>
    </div>

    <div class="form-group">
      <label for="age" class="block text-sm font-medium text-gray-700 mb-1">Age</label>
      <select id="age" class="select select-bordered w-full max-w-xs">
        <option disabled selected>Select Skin Type</option>
        <option>Child</option>
        <option>Teenager</option>
        <option>Adult</option>
        <option>Boomer</option>
        <option>Elderly</option>
      </select>
    </div>

    <div class="form-group">
      <label for="ethnicity" class="block text-sm font-medium text-gray-700 mb-1">Ethnicity</label>
      <select id="ethnicity" class="select select-bordered w-full max-w-xs">
        <option disabled selected>Select Ethnicity</option>
        <option>African</option>
        <option>Caucasian</option>
        <option>Italian</option>
        <option>Jewish</option>
        <option>British</option>
        <option>Finnish</option>
        <option>Mexican</option>
        <option>Chinese</option>
        <option>Vietnamese</option>
      </select>
    </div>

    <div class="form-group">
      <label for="eye_color" class="block text-sm font-medium text-gray-700 mb-1">Eye Color</label>
      <select id="eye_color" class="select select-bordered w-full max-w-xs">
        <option disabled selected>Select Eye Color</option>
        <option>Brown Eyes</option>
        <option>Blue Eyes</option>
        <option>Gray Eyes</option>
        <option>Yellow Eyes</option>
        <option>Green Eyes</option>
        <option>Red Eyes</option>
      </select>
    </div>

    <div class="form-group">
      <label for="bodyfat" class="block text-sm font-medium text-gray-700 mb-1">Bodyfat Type</label>
      <select id="bodyfat" class="select select-bordered w-full max-w-xs">
        <option disabled selected>Select Bodyfat Type</option>
        <option>Morbidly Obese</option>
        <option>Obese</option>
        <option>Chubby</option>
        <option>Normal</option>
        <option>Thin</option>
        <option>Gaunt</option>
        <option>Skeleton</option>
      </select>
    </div>
  </div>

  <div id="generate_button">
      <button hx-post="/create" hx-swap="outerHTML" hx-indicator="#ball" hx-vals='js:{generate_method: getPipeline(), gender: getGender(), hair_color: getHairColor(), hair_type: getHairType(), hair_length: getHairLength(), skin_color: getSkinColor(), skin_type: getSkinType(), eye_color: getEyeColor(), bodyfat: getBodyfat(), age: getAge(), ethnicity: getEthnicity()}' class="bg-white border text-blue-700 py-2 px-4 rounded hover:bg-blue-700 hover:text-white transition duration-300">
          Generate Avatar
      </button>
      <button hx-post="/create" hx-swap="outerHTML" hx-indicator="#ball" hx-vals='js:{generate_method: getHuggingface(), gender: getGender(), hair_color: getHairColor(), hair_type: getHairType(), hair_length: getHairLength(), skin_color: getSkinColor(), skin_type: getSkinType(), eye_color: getEyeColor(), bodyfat: getBodyfat(), age: getAge(), ethnicity: getEthnicity()}' class="bg-blue-700 border text-white py-2 px-4 rounded hover:bg-white hover:text-blue-700 transition duration-300">
          Generate Avatar with Hugging Face
      </button>
      <img id="ball" name="ball" class="htmx-indicator content-center max-w-24" src="static/images/bouncing-ball.svg"/>
  </div>


  <script>
    function getPipeline() {
      return "pipeline" 
    }
    function getHuggingface() {
      return "hugging_face" 
    }
    function getGender() {
      return document.getElementById("gender").value;
    }
    function getHairColor() {
      return document.getElementById("hair_color").value;
    }
    function getHairType() {
      return document.getElementById("hair_type").value;
    }
    function getHairLength() {
      return document.getElementById("hair_length").value;
    }
    function getSkinColor() {
      return document.getElementById("skin_color").value;
    }
    function getSkinType() {
      return document.getElementById("skin_type").value;
    }
    function getEthnicity() {
      return document.getElementById("ethnicity").value;
    }
    function getEyeColor() {
      return document.getElementById("eye_color").value;
    }
    function getAge() {
      return document.getElementById("age").value;
    }
    function getBodyfat() {
      return document.getElementById("bodyfat").value;
    }
  </script>
  </div>
  </div>

  <div name="avatar" id="avatar" class="text-center flex flex-col justify-center items-center">
      <p class="text-lg font-semibold mb-4">No Avatar Created</p>
      <img src="/static/images/empty_profile.png" alt="avatar" class="mx-auto max-h-96 rounded-lg shadow-lg"/>
  </div>
</div>
{% endblock %}



